* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(14, 62, 100, 0.5);
  --primary-color-darker: rgb(14, 62, 100);
  --secondary-color: rgba(104, 48, 131, 0.7);
  --secondary-color-darker: rgb(104, 48, 131);
  --popup-bg-color: #edf3f3;
  --disable-color: rgba(14, 62, 100, 0.1);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-height: 180px;
  width: 400px;
  background: var(--popup-bg-color);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2px;
  margin: 5px;
}

header {
  border-bottom: 0.5px solid var(--primary-color);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 80px;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}

header li {
  margin: 0 8px;
}

header li:last-child {
  margin-right: 0;
}

header li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 12.5px;
  font-weight: bold;
  cursor: pointer;
}

header a:hover {
  color: var(--primary-color-darker);
  text-decoration: none;
}

main {
  flex: 1;
}

.reminders .header {
  color: var(--primary-color-darker);
  margin-bottom: 5px;
}

.reminders .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: bold;
  color: var(--primary-color-darker);
}

.reminders .list.empty {
  align-items: center;
}

.reminders .list li.empty {
  color: var(--primary-color-darker);
  font-weight: bold;
}

.reminders .list .item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reminders .item .time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reminders .item .days {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.reminders .item .days .disabled {
  color: var(--disable-color);
}

.reminders .item .controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reminders .item .edit-btn,
.reminders .item .remove-btn {
  font: inherit;
  color: var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.reminders .item .remove-btn {
  margin-left: 8px;
}

.reminders .item .edit-btn:hover,
.reminders .item .remove-btn:hover {
  color: var(--primary-color-darker);
}

.reminders .item .edit-btn:focus,
.reminders .item .remove-btn:focus {
  outline: none;
}

main .add-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

main .add-modal.active {
  transform: translateY(0);
}

main .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--primary-color);
  color: var(--primary-color-darker);
}

main .modal-header button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
}

main .modal-header button:hover {
  color: var(--primary-color-darker);
}

main .modal-header button:focus {
  outline: none;
}

footer {
  padding: 10px 0 5px 0;
  margin: 5px;
  border-top: 0.5px solid var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
  font-size: 12.5px;
  font-weight: bold;
  color: var(--primary-color);
}

footer button:last-of-type {
  margin-left: 10px;
}

footer button:focus {
  outline: none;
}

footer button:hover {
  color: var(--primary-color-darker);
}

.fas {
  margin-right: 2px;
}

span[data-remove-name] {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
